<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-2">Created by:</div>
                <div class="col-md-10">Mohit Kumar</div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">Linkedin:</div>
                <div class="col-md-10"><a href="http://blog.codewithdan.com" target="_blank">https://www.linkedin.com/in/mohit-kumar-992693237/</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">GitHub:</div>
                <div class="col-md-10"><a href="https://github.com/DanWahlin/Angular-JumpStart" target="_blank">https://github.com/mohit847</a></div>
            </div>
        </div>
    </div>
</div>